<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>EN_genius</title>
	</th:block>
	<th:block layout:fragment="customScript">	
	<script type="text/javascript">

		$(document).ready(function(){
			
			var checkArray = new Array();

			$("#check-all").click(function(){
				var isCheck = $(this).is(':checked');
				var checklist = $('input:checkbox[name="bsCode"]');
				console.log(isCheck);				
				if(isCheck){
					checklist.prop('checked',true);
				}else{
					checklist.prop('checked',false);
				}
			});
			
		  	$('#approval').click(function(){
				
				$('.bsCode').each(function(){
					if($(this).is(':checked')){						
						checkArray.push($(this).val());	
					}					
				});
				console.log(checkArray)
				
				var dataMap = {'checkArray' : checkArray}
				var request = $.ajax({
					url:"/approvalCheck",
					type: "POST",
					traditional:true,
					data : dataMap,
					success : function(data){
						location.href = '/CarFactorySearch';
					}
				});
							
			}) 
			
		 	$('#Refusal').click(function(){
				
		 		$('.bsCode').each(function(){
					if($(this).is(':checked')){						
						checkArray.push($(this).val());	
					}					
				});
				console.log(checkArray)
				
				var dataMap = {'checkArray' : checkArray}
				var request = $.ajax({
					url:"/approvalRefusal",
					type: "POST",
					traditional:true,
					data : dataMap,
					success : function(data){
						location.href = '/CarFactorySearch';
					}
				});	
			})  
			
			$('[name=bsCodePopupBtn]').click(function(){				
				var bsCode = $(this).attr('data-bsCode');

				var width = 700
				var height = 900
				
				var popupX = (document.body.offsetWidth / 2) - (width / 2);
				var popupY = (document.body.offsetHeight  / 2) - (height / 2);
				
				var request = $.ajax({
					url:"/selectImage",
					method: "POST",
					data : { 'bsCode' : bsCode }, 
					dataType : "text"	
				});
				
				request.done(function(data){
					console.log(data);		
					window.open('/file-upload/'+data , 'Image' , 'status=no, width='+width+'px, height='+height+'px, left='+ popupX + ', top='+ popupY +', resizable=1');
		
				});
				request.fail(function(jqXHR, textStatus){
					alert("첨부파일 출력 중 오류가 발생하였습니다.");			
				});				
			});
		});
				
	</script>
	</th:block>
	
	<th:block layout:fragment="contentFragment">
		<div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">사업장 리스트</strong>
            </div>
            <div class="card-body">  
            <form>
                <table class="table">
                    <thead>
                        <tr>
                          <th>
                          	<input type="checkbox" id="check-all">
                          </th>
                          <!-- <th>#</th> -->
                          <th>사업장명</th>
                          <th>사업주</th>
                          <th>사업장</th>
                          <th>연락처</th>
                          <th>승인여부</th>
                          <th>첨부</th>
                          <th>상세</th>
                      </tr>
                  </thead>
                  <tbody th:each="c : ${carfactorylist}">
                    <tr>
                        <td class="a-center">
                          <input type="checkbox" name="bsCode" class="bsCode" th:value="${c.bsCode}">
                        </td>
                        <!-- <th scope="row">1</th> -->
                        <td><span class="bsname" th:text="${c.bsName}"></span></td>
                        <td><span class="bossname" th:text="${c.bossName}"></span></td>
                        <td><span class="addr" th:text="${c.bsAddr}"></span></td>
                        <td><span class="tel" th:text="${c.bsTelephone}"></span></td>
                        <td><span class="check" th:text="${c.bsCheck}"></span></td>                       
                        <td><button type="button" th:data-bsCode="${c.bsCode}" th:text="서류" name="bsCodePopupBtn" class="btn btn-outline-link btn-sm"></button></td>
                        <td><button type="button" th:text="상세" data-toggle="modal" data-target="#myModal" class="btn btn-outline-link btn-sm"></button>	</td>
                    </tr>
                </tbody>          
            </table>
          	<hr><button type="button" class="btn btn-outline-primary" id="approval" style="float: right;">승인</button>
          	<button type="button" class="btn btn-outline-primary" id="Refusal" style="float: right;" >승인거부</button>
            </form>   
        </div>    
    </div>
		</div>
		<!-- Modal --><!-- fade 지우면 똑딱 뜨고 넣으면 소로록 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h3 class="modal-title" id="myModalLabel"></h3>
		      </div>
		      <div class="modal-body">
			    <form method="post">				    
				    <div class="form-group">
				    <div class="input-group">
				    	<input type="text" name="bsName" placeholder="사업장이름" class="form-control">
				    </div>
				    </div>
				    <div class="form-group">
				    <div class="input-group">
				    	<input type="text" name="bossId" placeholder="아이디" class="form-control">
				    </div>
				    </div>
				    <div class="form-group">
				    <div class="input-group">
				    	<input type="password" name="bossPw" placeholder="비밀번호" class="form-control">
				    </div>
				    </div>
				    <div class="form-group">
				    <div class="input-group">
				    	<input type="text" name="bossName" placeholder="이름" class="form-control">
				    </div>
				    </div>
				    <div class="form-group">
				    <div class="input-group">
				    	<input type="text" name="bossPhonenum" placeholder="핸드폰번호" class="form-control">
				    </div>
				    </div>
				    <div class="form-group">
				    <div class="input-group">
				    	<input type="text" name="bsNumber" placeholder="사업장번호" class="form-control">
				    </div>
				    </div>
				    <div class="form-group">
				    <div class="input-group">
				    	<input type="text" name="bsFaxNumber" placeholder="팩스번호" class="form-control read">
				    </div>
				    </div>
				    <div class="form-group">
				    <div class="input-group">
				    	<input type="text" name="bsTelephone" placeholder="사업장연락처" class="form-control read">
				    </div>
				    </div>
				    <div class="form-group">
				    <div class="input-group">
				    	<input type="text" name="bsRegistration" placeholder="사업장등록일" class="form-control read">
				    </div>
				    </div>
				    <div class="form-group">
				    <div class="input-group">
				    	<input type="text" name="bsDate" placeholder="등록요청일" class="form-control read">
				    </div>
				    </div>
					<div class="row">
						<div class="col-lg-6">
							<input class="form-control" type="text" id="post" name="bossEmail" placeholder="주소" readonly="readonly"><br>
						</div>
						<div class="col-lg-6">
							<input class="form-control btn-danger post" type="button" onclick="DaumPostcode()" value="우편번호 찾기"><br>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<input class="form-control" type="text"	id="address" name="bossEmail" placeholder="주소" readonly="readonly"><br>
						</div>
						<div class="col detail">
							<input class="form-control" type="text" id="detailAddress" name="emailAddr" placeholder="상세주소"><br>
						</div>
					</div>
			 			    
				    <div class="form-group">
				    <div class="input-group">
				    	<select name="employeeGender" class="form-control add">
				    		<option value="">성별</option>
				    		<option value="남">남</option>
				    		<option value="여">여</option>
				   		</select>
				   		<input name="employeeGender1" type="text" class="form-control modify read">
				    </div>
				    </div>
				    <div class="form-group">
				    <div class="input-group">
				    	<input type="tel" name="employeePhone" placeholder="핸드폰" class="form-control">
				    </div>
				    </div>
				    <div class="form-group">
					<div class="input-group">
				    	<input type="date" name="joinDate" placeholder="입사일" class="form-control col read">
				    	<input type="date" name="resignationDate" placeholder="퇴사일" class="form-control col modify read">
					</div>
				    </div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					</div>
			    </form>
		      </div>
		    </div>
		  </div>
		</div>
	</th:block>
</html>