<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/tdymeleaf/layout"
	layout:decorate="~{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>EN_genius [[${title}]]</title>
	</th:block>
	<th:block layout:fragment="contentFragment">

		<div class="card">
			<div class="card-header">
				<strong class="card-title">
					[[${title}]]
				</strong>
			</div>
			<div class="card-body">
				<table class="table table-cols">
					<tbody>	
						<tr>
							<th>아이디</th>
							<td style="margin:0px;padding:5px">
								<input type="text" id="h_id" value="" name="keyword" class="form-control">
							</td>
							<th>이름</th>
							<td style="margin:0px;padding:5px">
								<input type="text" id="h_name" value="" name="keyword" class="form-control">
							</td>
						</tr>
						<tr>
							<th>닉네임</th>
							<td style="margin:0px;padding:5px">
								<input type="text" id="h_nick" value="" name="keyword" class="form-control">
							</td>
							<th>회원등급</th>
							<td>
								<label class="radio-inline">
									<input type="radio" name="h_level" value="" checked="checked"> 전체
								</label>
								<label class="radio-inline">
									<input type="radio" name="h_level" value="구매자"> 구매자
								</label>
								<label class="radio-inline">
									<input type="radio" name="h_level" value="판매자"> 판매자
								</label>
								<label class="radio-inline">
									<input type="radio" name="h_level" value="관리자"> 관리자
								</label>
							</td>
						</tr>
						<tr>
							<th>성별</th>
							<td>
								<label class="radio-inline">
									<input type="radio" name="h_gender" value="" checked="checked"> 전체
								</label>
								<label class="radio-inline">
									<input type="radio" name="h_gender" value="남"> 남성
								</label>
								<label class="radio-inline">
									<input type="radio" name="h_gender" value="여"> 여성
								</label>
							</td>
							<th>가입승인</th>
							<td>
								<label class="radio-inline">
									<input type="radio" name="h_permit" value="" checked="checked"> 전체
								</label>
								<label class="radio-inline">
									<input type="radio" name="h_permit" value="O"> 승인
								</label>
								<label class="radio-inline">
									<input type="radio" name="h_permit" value="X"> 미승인
								</label>
							</td>
						</tr>
						<tr>
							<th>가입일</th>
							<td class="row">
								<input type="date" name="h_jday1" class="form-control">~
								<input type="date" name="h_jday2" class="form-control">
							</td>
						</tr>
						<tr>
							<th>생일</th>
							<td class="row">
								<input type="date" name="h_bday1" class="form-control">~
								<input type="date" name="h_bday2" class="form-control">
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">
								고객코드
							</th>
							<th scope="col">
								고객명
							</th>
							<th scope="col">
								고객생일
							</th>
							<th scope="col">
								고객성별
							</th>
							<th scope="col">
								고객주소
							</th>
							<th scope="col">
								고객연락처
							</th>
							<th scope="col">
								고객등록일
							</th>
							<th scope="col">
								고객메모
							</th>
							<th scope="col">
								고객수정
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="l : ${customerList}">
							<td th:text="${l.customerCode}"></td>
							<td th:text="${l.customerName}"></td>
							<td th:text="${l.customerBirth}"></td>
							<td th:text="${l.customerGender}"></td>
							<td th:text="${l.customerAddr}"></td>
							<td th:text="${l.customerPhone}"></td>
							<td th:text="${l.customerSign}"></td>
							<td th:text="${l.customerMemo}"></td>
							<td>
								<a th:href="@{/customer/customerUpdate(customerCode=${l.customerCode})}">
									정보수정
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="paging" style="text-align: center;">
					<button>
						tt
					</button>
				</div>
			</div>
		</div>
		
	</th:block>
</html>

